body {
  background: #25161b;
  color: #f3cba5;
  font-family: sans-serif;
}

ul {
  padding: 10px;
  list-style-type: none;
}

a {
  color: rgb(255, 0, 0);
}

.mongobody {
  color: #25161b;
  background: #f3cba5;
  font-family: sans-serif;
}
