body {
  color: #25161b;
  background: #f3cba5;
  font-family: sans-serif;
}

ul {
  padding: 10px;
  list-style-type: none;
}

a {
  color: rgb(255, 0, 0);
}

.flexcontainer {
  display: flex;
  flex-wrap: wrap;

  border: 3px solid #25161b;
  justify-content: space-around;
  overflow: auto;
  margin: 50px;
}

.flexitem {
  width: 200px;

  padding: 10px;
  margin: 20px;
}
