{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='css/mongo_styles.css') }}"
/>
{% endblock%} {% block body %}
<a href="http://127.0.0.1:8000/api">Change to API Solution</a>
<h2>Home Page for MongoDB Testplatform</h2>

{% for sight in sights %}

<div>
  <ul>
    <li>id:&emsp;{{sight['_id']}}</li>
    <li>Name:&emsp;{{sight['name']}}</li>
    <li>
      <a href="http://127.0.0.1:8000/mongo/detail/{{ sight['_id'] }}">
        DETAILS</a
      >
    </li>
  </ul>
</div>

{%endfor%}
<form action="/mongo/put" method="POST">
  <br />
  <h3>Create a new Sight here:</h3>
  <p>Name:&emsp;<input type="name" name="name" id="name" required /></p>
  <p>Text:&emsp;<input type="text" name="text" id="text" /></p>
  <p>
    longitude:&emsp;<input
      type="number"
      step="0.000001"
      name="long"
      id="long"
      required
    />
  </p>
  <p>
    latitude:&emsp;<input
      type="number"
      step="0.000001"
      name="lat"
      id="lat"
      required
    />
  </p>
  <p>Comment:&emsp;<input type="text" name="comment" id="comment" /></p>
  <p><input type="submit" value="Create Sight" required /></p>
</form>

{% endblock%}
