{% extends 'base.html' %} 

{% block body %} 


<h2>HOME PAGE</h2>
{%if sights == 'no_data'%}
<p>message: {{sights}}</p>
<p>Create one first</p>
{%else%}
{% for sight in sights %}
<div>
  <ul>
    <li>ID: {{ sight['id'] }}</li>
    <li>NAME: {{ sight['name'] }}</li>
    <li>
      <a href="http://127.0.0.1:8000/api/detail/{{ sight['id'] }}">
        DETAILS</a
      >
    </li>
    
    </li>
  </ul>
</div>
{%endfor%}
{%endif%}
<form action="/api/put" method="POST"><br>
  <p>ID:<input type="number" name="id" id="id" required/></p>
  <p>NAME:<input type="name" name="name" id="name" required/></p>
  <p>INFO:<input type="text" name="text" id="text" required/></p>
  <p>ZIP:<input type="number" name="zip" id="zip" required/></p>
  <p><input type="submit" value="Create Sight" required/></p>
</form>
{% endblock%}