{% extends 'base.html' %} {% block body %}

<h2>Detail view from {{sight['name']}}</h2>

<div>
  <ul>
    <li>Name:{{sight['name']}}</li>
    <li>Text: {{sight['text']}}</li>
    <li>longitude: {{sight['long']}}</li>
    <li>latitute: {{sight['lat']}}</li>
    <li>comment: {{sight['comment']}}</li>
    <li>
      <a href="http://127.0.0.1:8000/mongo/"> BACK</a>
    </li>
    <li>
      <a href="http://127.0.0.1:8000/mongo/delete/{{ sight['_id'] }}">
        REMOVE</a
      >
    </li>
    <li>
      <a href="http://127.0.0.1:8000/mongo/update/{{ sight['_id'] }}">
        UPDATE</a
      >
    </li>
  </ul>
</div>

{% endblock%}
